* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(52, 94%, 94%);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 14px;
}

.container {
  margin: 10px auto;
  width: 60%;
  min-width: 380px;
}

header {
  background-color: hsl(30, 53%, 64%);
}

h1 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  padding-bottom: 10px;
  color: hsl(52, 94%, 94%);
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}

li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: hsl(52, 94%, 94%);
}

.second {
  margin: 10px;
}

.second a{
  color: black;
}

a:hover {
  color: black;
  opacity: 75%;
  text-decoration: none;
}

main {
  padding: 20px;
  padding-top: 0px;
}

h2 {
  text-decoration: underline;
  margin: 20px;
}

h3 {
  margin: 25px;
}

p {
  margin: 15px;
  padding: 0px 20px;
}

table {
  border-collapse: collapse;
  width: 100;
}

th {
  height: 50px;
  font-size: 16px;
  text-align: center;
  background-color: hsl(30, 53%, 64%);
  color: hsl(52, 94%, 94%);;
}

td, th {
  border: 1px solid black;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.tag {
  font-family: 'Fira Code', monospace;
  font-size: 13px;
  background-color: hsl(37, 70%, 88%);
}

tr:hover {
  background-color: hsl(43, 82%, 89%);
}

.contact{
  font-size: 12px;
  padding-bottom: 0;
}

.contact a {
  color: black;
}
